{{- $readmeURL := "https://raw.githubusercontent.com/djdebonis/llbert/main/README.md" -}}
{{- $readme := try (resources.GetRemote $readmeURL) -}}
{{- with $readme.Value -}}
  {{- $content := .Content -}}
  {{- $content = replaceRE `content/images/` "https://raw.githubusercontent.com/djdebonis/llbert/main/content/images/" $content -}}
  {{- $content = replaceRE `\./plots/` "https://raw.githubusercontent.com/djdebonis/llbert/main/plots/" $content -}}
  {{- $content | markdownify -}}
{{- else -}}
  <p>The LLBert README is currently unavailable. <a href="https://github.com/djdebonis/llbert/blob/main/README.md">Read it on GitHub</a>.</p>
{{- end -}}